.container-fluid
    .row
        form.col-md-12.form-horizontal(name="createTestBlockForm")
            .form-group
                label.control-label.col-md-4
                    Имя блока
                .col-md-8
                    input.form-control(type="text", ng-model="testBlock.name")